#map {
    width: 1280px;
    height: 1000px;
    background-color: aquamarine;
    margin: 0 auto;

    .map-inner {
        width: 990px;
        background-color: bisque;
        margin: 0 auto;

        .station {
            width: 500px;
            height: 300px;
            border: 1px solid #000;
        }
    }
}